<ion-header class="head">
  <ion-toolbar color="mytheme">
    <ion-row justify-content-center>
      <ion-img src="assets/icon/logo.png" class="head-image"></ion-img>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <form>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
          <ion-button class="loginbt" type="submit" color="danger" expand="block">Login</ion-button>
          <div class="line"></div>

          <ion-row class="fg">
            <ion-col>
              <ion-button expand="block" fill="outline" color="fb" no-padding><ion-img src="assets/img/facebook_logo.png" slot="start" class="logo" margin-end></ion-img>Facebook</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="google" expand="block"  color="google" no-padding><ion-img src="assets/img/google_logo.png" slot="start" class="logo" margin-end></ion-img>Google</ion-button>
            </ion-col>
          </ion-row>

          <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>
          <ion-row>
            <ion-col class="forgotpassword-text">
              <a [routerLink]="['/forgot-password']">Forgot Password?</a>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
