.head-image{
  height: 250px;
  width: 250px;
  margin: auto;
}
.auth-form{
  align-self: center;
}
.logo{
  width: 1.25em;
}

.forgotpassword-text{
  text-align: right;
  font-size: small;
}
.buttonlogin{
  margin-top: 0.5cm;
  margin-bottom: 0.2cm;

}
.facebookgooglebotton{
  margin-top: 0.1cm;
}
.headder{
  margin-bottom: -0.3cm;
}
.passwordIcon{
  font-size:2rem !important;
   position: relative !important;
   top: 22px !important;
   margin: 0 auto !important;

}





