.already{
  text-align: center;
}
.small-text{
  margin-left:160px;
}
.loginbt{
  margin-top: 0.5cm;
  margin-bottom: 0.2cm;
}
.homeh{
  // --ion-background-color:rgb(214, 127, 46);
  background-color: sandybrown;
}
