<ion-header class="headder">
  <ion-toolbar color="mytheme">
    <ion-row justify-content-center>
      <ion-img src="assets/icon/logo2.gif" class="head-image"></ion-img>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <form >
          <ion-item lines="full">
            <ion-label position="floating">Username</ion-label>
            <ion-input #UsernameInput type="text" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input #PasswordInput clearInput  type="password" required ></ion-input>
          </ion-item>
          <ion-button
          class="buttonlogin" type="submit"  color="logincolor" expand="block"  (click)="login()">Login
          </ion-button>
          <div class="line"></div>

          <ion-row class="facebookgooglebotton">
            <ion-col>
              <ion-button expand="block" fill="outline" color="facebookcolor" no-padding>
                <ion-img src="assets/img/facebook_logo.png" slot="start" class="logo" margin-end>
                </ion-img>
                Facebook
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button  expand="block" fill="outline" color="googlecolor" no-padding>
                <ion-img src="assets/img/google_logo.png" slot="start" class="logo" margin-end>
                </ion-img>
                Google
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-button expand="block" color="registerbotton" (click)="register()">Register</ion-button>
          <ion-row>
            <ion-col class="forgotpassword-text">
              <a [routerLink]="['/forgot-password']">Forgot Password?</a>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
