<div fxLayout="column" fxFlex>
  <div fxLayout="row">
      <mat-toolbar>
          <div fxFill fxLayout="row">
              <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                  <span name="mat-toolbar-left">ข้อมูลผู้ติดต่อ</span>
              </div>
              <div fxFlex="0 1 auto" fxLayoutAlign="end center">
                  <button  (click)="openDialog('new')" mat-raised-button color="primary">
                      เพิ่มข้อมูล
                  </button>
              </div>
          </div>
      </mat-toolbar>
  </div>
  <div fxLayout="column" fxFlex>
      <div style="padding: 15px;" fxLayout="row warp" fxFlex>
          <div style="padding-left: 25px;" fxFlex="10">
              <p>
                  ลำดับ
              </p>
          </div>
          <div style="padding-left: 25px;" fxFlex="20">
              <p>
                  ชื่อสินค้า
              </p>
          </div>
          <div style="padding-left: 25px;" fxFlex="20">
              <p>
                  ราคา
              </p>
          </div>
          <div style="padding-left: 25px;" fxFlex="30">
              <p>
                  เมนู
              </p>
          </div>
      </div>
      <div style="padding: 15px;" *ngFor="let item of pData; let i = index" fxLayout="row" fxFlex>
          <div fxLayoutAlign="start center" style="padding-left: 25px;" fxFlex="10">
              <p>
                  {{i+1}}
              </p>
          </div>
          <div fxLayoutAlign="start center" style="padding-left: 25px;" fxFlex="20">
              <p>

                  {{item.name}}
              </p>
          </div>
          <div fxLayoutAlign="start center" style="padding-left: 25px;" fxFlex="20">
              <p>
                  {{item.price}}
              </p>
          </div>
          <div style="padding-left: 25px;" fxFlex="30">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog(item)">
                      <mat-icon>edit</mat-icon>
                      <span>แก้ไข</span>
                  </button>
                  <button (click)="onDelete(item)" mat-menu-item >
                      <mat-icon>delete</mat-icon>
                      <span>ลบ</span>
                  </button>
              </mat-menu>
          </div>
      </div>
  </div>
</div>