// .texttitle{
//     color:black;
//     font-size:15px;
//     margin-left:-30px;
//   }
  
//   .tobbtn{
//     margin-left:40px;
//   }
//   .button{
//     // width: fit-content;
//   width:25%;
//   height:100%;
//   font-size:13px;
//   }
//   .search{
//     width:8%;
//     height:8%;
//   }
  
  .heart{
    color:black;
    font-size:15px;
    
  }
   .heart-buttons{
    margin-left: 95%;

   }

  .red{
    color: red;
  }

// .rowcolor{
//   background-color: red;
// }
// .price{
//   margin-left: 5px;
// }
.card{
  background-color:rgb(248, 244, 244);
  color:black;
  padding: 5px;
  
}
.footer{
  background-color:rgb(235, 201, 99);
}
.footerbtn{
  width: 100%;
  background-color:rgb(209, 49, 49);
}
.segmentbtn{
  color: white;
}
.textHeader{
  margin-left: 35%;
  padding-top: 4%;
}
.star{
  padding-top: 1%;
  margin-left: 39%; 
}
.linereview{
 width:100%;
 height: 5px;
 background-color: rgb(167, 160, 160);
}
.rating{
 margin-left: 40%;
 padding-top: 1%;
}
.avatar1{
 height:35px;
 width: 30px;
 margin-left:5%;
}
.item1{
  padding: 15px;
}
.namereview{
  padding-top:5px;
}
.img1{
  width: 100%;
  height:50%;
}
.img2{
  width: 100%;
  height:50%;
}
.img3{
  width: 100%;
  height:50%;
}
.textHeader{
  margin-left: 35%;
  padding-top: 4%;
}
// .footer{
//  height: 100%;
//  width: 10%;
//  background-color: black;
//  padding-top: 10cm;
// }
// .commentimg1{
//  width: 10%;
//  height: 10%;
// }