.texttitle{
    color:black;
    font-size:15px;
    margin-left:-30px;
  }
  
  .tobbtn{
    margin-left:40px;
  }
  .button{
    // width: fit-content;
  width:25%;
  height:100%;
  font-size:13px;
  }
  .search{
    width:8%;
    height:8%;
  }
  
  .heart{
    color:black;
    font-size:15px;
    margin-left:320px;
  }