.imgducky{
  width: 70px;
  height: 80px;
}
.dataorder{
  padding: 0;
}
.textheadorder{
  font-size: 13pt;
  color: rgb(7, 7, 7);
  font-weight: bold;
}
.textsuborder{
  font-size: small;
  color: rgb(7, 7, 7);
  font-weight: bold;
}
.selectoption{
  margin-left: auto;
}
.Checkout{
  color:azure
}
.returnandrefund{
  text-align: right;

}
.returnandrefund-text{
  font-size: 6pt;
  color: rgb(7, 7, 7);
}





