/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.ion-color-mytheme {
  --ion-color-base: var(--ion-color-mytheme) !important;
  --ion-color-base-rgb: var(--ion-color-mytheme-rgb) !important;
  --ion-color-contrast: var(--ion-color-mytheme-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mytheme-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mytheme-shade) !important;
  --ion-color-tint: var(--ion-color-mytheme-tint) !important;
}
.ion-color-google {
  --ion-color-base: var(--ion-color-google) !important;
  --ion-color-base-rgb: var(--ion-color-google-rgb) !important;
  --ion-color-contrast: var(--ion-color-google-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-google-shade) !important;
  --ion-color-tint: var(--ion-color-google-tint) !important;
}
.ion-color-lg {
  --ion-color-base: var(--ion-color-lg) !important;
  --ion-color-base-rgb: var(--ion-color-lg-rgb) !important;
  --ion-color-contrast: var(--ion-color-lg-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-lg-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-lg-shade) !important;
  --ion-color-tint: var(--ion-color-lg-tint) !important;
}
.ion-color-rg {
  --ion-color-base: var(--ion-color-rg) !important;
  --ion-color-base-rgb: var(--ion-color-rg-rgb) !important;
  --ion-color-contrast: var(--ion-color-rg-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-rg-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-rg-shade) !important;
  --ion-color-tint: var(--ion-color-rg-tint) !important;
}
.line {
  width: 75%;
  height: 1px;
  background: #989aa2;
  margin: 1px auto 1px auto;
  margin-top: 0.4cm;
  position: relative;
}
