/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.ion-color-mytheme {
  --ion-color-base: var(--ion-color-mytheme) !important;
  --ion-color-base-rgb: var(--ion-color-mytheme-rgb) !important;
  --ion-color-contrast: var(--ion-color-mytheme-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mytheme-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mytheme-shade) !important;
  --ion-color-tint: var(--ion-color-mytheme-tint) !important;
}
.ion-color-googlecolor {
  --ion-color-base: var(--ion-color-googlecolor) !important;
  --ion-color-base-rgb: var(--ion-color-googlecolor-rgb) !important;
  --ion-color-contrast: var(--ion-color-googlecolor-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-googlecolor-google-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-googlecolor-shade) !important;
  --ion-color-tint: var(--ion-color-googlecolor-tint) !important;
}
.ion-color-logincolor {
  --ion-color-base: var(--ion-color-logincolor) !important;
  --ion-color-base-rgb: var(--ion-color-logincolor-rgb) !important;
  --ion-color-contrast: var(--ion-color-logincolor-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-logincolor-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-logincolor-shade) !important;
  --ion-color-tint: var(--ion-color-logincolor-tint) !important;
}
.ion-color-registerbotton {
  --ion-color-base: var(--ion-color-registerbotton) !important;
  --ion-color-base-rgb: var(--ion-color-registerbotton-rgb) !important;
  --ion-color-contrast: var(--ion-color-registerbotton-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-registerbotton-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-registerbotton-shade) !important;
  --ion-color-tint: var(--ion-color-registerbotton-tint) !important;
}
.ion-color-gray {
  --ion-color-base: var(--ion-color-gray) !important;
  --ion-color-base-rgb: var(--ion-color-gray-rgb) !important;
  --ion-color-contrast: var(--ion-color-gray-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gray-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gray-shade) !important;
  --ion-color-tint: var(--ion-color-gray-tint) !important;
}
.line {
  width: 75%;
  height: 1px;
  background: #989aa2;
  margin: 1px auto 1px auto;
  margin-top: 0.4cm;
  position: relative;
}
