<!-- <ion-header>
  <!.--class="login" text-align="center"-.->
<ion-toolbar>
<ion-title>Setting</ion-title>
</ion-toolbar>

<ion-toolbar>   <!.--เเถวเเนวนอน 1 เเถว --.>
<ion-buttons slot="start">                                    <!-.- เป็นกรอบ คล้าย div-.->
</ion-buttons>
<ion-searchbar></ion-searchbar>
</ion-toolbar>
</ion-header> -->
<!-- <app-home></app-home> -->



<ion-header>
  <ion-toolbar>
       <ion-buttons>
        <ion-button slot="start" routerLink="/home">Back
        </ion-button>
        <ion-label class="head">setting</ion-label>
     </ion-buttons>

</ion-toolbar>
</ion-header>



<ion-content>


  
  <ion-item > <!--button (click)="buttonClick()"-->
    <ion-label>
      Account Information
    </ion-label>
  </ion-item>
  <ion-item > <!--href="https://www.ionicframework.com"-->
    <ion-label>
      Address Book
    </ion-label>
  </ion-item>


  <ion-item href="">
    <ion-avatar slot="start">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/300px-Flag_of_the_United_Kingdom.svg.png">
    </ion-avatar>
    <ion-label>
      English - Language
    </ion-label>
  </ion-item>
  </ion-content>
  
  <ion-item color="secondary">
    <ion-label class="bata">
      Cyber X Shop Bata 0.0.1
    </ion-label>
  </ion-item>
  



