<!-- <ion-header>
  <!.--class="login" text-align="center"-.->
<ion-toolbar>
<ion-title>Setting</ion-title>
</ion-toolbar>

<ion-toolbar>   <!.--เเถวเเนวนอน 1 เเถว --.>
<ion-buttons slot="start">                                    <!-.- เป็นกรอบ คล้าย div-.->
</ion-buttons>
<ion-searchbar></ion-searchbar>
</ion-toolbar>
</ion-header> -->
<!-- <app-home></app-home> -->



<ion-header>
  <ion-toolbar>
       <ion-buttons>
        <ion-button slot="start" routerLink="/home">Back
        </ion-button>
        <ion-label >setting</ion-label>
     </ion-buttons>

</ion-toolbar>
</ion-header>






