<ion-menu contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>


    <ion-list>
      <ion-avatar class="pictureavatar">
        <img src="https://i.ytimg.com/vi/IwukA0CCQkE/maxresdefault.jpg">
      </ion-avatar>
      <ion-item [routerLink]="['/home']">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Home
      </ion-item>
      <ion-item [routerLink]="['/cart']">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        Cart
      </ion-item>
      <ion-item >
        <ion-icon slot="start" name="list-outline"></ion-icon>
        Oder History
      </ion-item>
      <ion-item [routerLink]="['/setting']">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        Setting
      </ion-item >
      <ion-item>
        <ion-icon slot="start" name="reader-outline"></ion-icon>
        About
      </ion-item>
      <ion-item [routerLink]="['/login']">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id="main"></ion-router-outlet>
